In [ ]:
# looping
# other programing lang have : for , foreach , do..while , while..do , until
# in python we have only for , while
# for is finite loop
# while is infinite loop ( But with condition it is also finite)

In [ ]:
# while  ( initial value, condition, print , increment)
while <expression/condition>:
    statements

In [1]:
i = 1
while i<=5:
    print (i)
    i = i + 1

1
2
3
4
5

In [2]:
i = 1
while i<=10:
    print (i,end='')
    i = i + 1

12345678910

In [3]:
i = 1
while i<=10:
    print (i,end='')
    i = i + 1

12345678910

In [6]:
i = 1
while i<=5:
    print (i,end='')
    i = i + 1
print('')
print ("Out side of while loop")
print("Hello")

12345
Out side of while loop
Hello

12345
1234
123
12
1

In [22]:
i=1
j=5
while j>=i:
    while i<=j:
        print(i,end='')
        i=i+1
    print('')
    i=1
    j=j-1

12345
1234
123
12
1

In [23]:
i=j=1
while j<=5:
    while i<=j:
        print(i,end='')
        i=i+1
    print('')
    i=1
    j=j+1

1
12
123
1234
12345

In [9]:
i=j=5
while j>=1:
    while i>=j:
        print(i,end='')
        i=i-1
    print('')
    i=5
    j=j-1

5
54
543
5432
54321

In [10]:
i=5
j=1
while j<=5:
    while i>=j:
        print(i,end='')
        i=i-1
    print('')
    i=5
    j=j+1

54321
5432
543
54
5

#syntax:
for <var> in <values/variable/object>:
    statements

In [11]:
for i in 1,2,3,4,5:
    print (i)

1
2
3
4
5

In [12]:
for i in 1,2,3,4,5:
    print("Python")

Python
Python
Python
Python
Python

In [3]:
for i in 1,2,3,4,5:
    print (i)

1
2
3
4
5

In [13]:
for i in 1, 3 , 6, 8:
    print (i)

1
3
6
8

In [14]:
for i in 1,"raju",10.45:
    print (i)

1
raju
10.45

In [16]:
print(range(6))
print(range(0,6))
print(range(0,26,5))

range(0, 6)
range(0, 6)
range(0, 26, 5)

In [17]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [18]:
x=range(6)

In [19]:
print(x)

range(0, 6)

In [20]:
type(x)

range

In [21]:
for i in x:
    print(i)

0
1
2
3
4
5

In [ ]:
# Range is python function which produce values in the form of object

In [22]:
print(range(1,11))

range(1, 11)

for i in range([startvalue],stopvalue,[stepping]):
    print(i)

In [24]:
for i in range(1,11):
    print (i,end='')

12345678910

In [26]:
for i in range(0,26,5):
    print (i,end=',')

0,5,10,15,20,25,

In [27]:
x=range(1,11)

In [28]:
for i in x:
    print(i,end='')

12345678910

In [30]:
for i in range(1,11,2):
    print (i,end=',')

1,3,5,7,9,

In [31]:
for i in range(11):
    print (i,end=',')

0,1,2,3,4,5,6,7,8,9,10,

In [38]:
for i in range(5,11):
    print(i,end='')

5678910

In [16]:
print (range(6))
print (range(1,6))
print (range(0,51,5))

range(0, 6)
range(1, 6)
range(0, 51, 5)

In [17]:
print(range(10,-1))

range(10, -1)

In [18]:
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [19]:
for i in range(10,-11,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [20]:
for j in range(5,0,-1):
    for i in range(1,j+1):
        print(i,end='')
    print('')

12345
1234
123
12
1

In [21]:
n=int(input("Enter a value::"))
for j in range(1,n+1):
    for i in range(1,j+1):
        print(i,end='')
    print('')

Enter a value::5
1
12
123
1234
12345

In [34]:
course="Python"

In [32]:
for i in "Python":
    print(i,end=',')

P,y,t,h,o,n,

In [35]:
for i in course:
    print(i,end=',')

P,y,t,h,o,n,

In [36]:
for i in "welcome":
    print(i)

w
e
l
c
o
m
e

In [37]:
for i in "w":
    print(i)

w

In [38]:
for i in "welcome","Python":
    print(i)

welcome
Python

In [39]:
type(i)

str

In [41]:
for i in 100:
    print(i)

100

In [42]:
for i in "100":
    print(i)

1
0
0

In [43]:
for i in "welcome","Python":
    print(i,end=' ')

welcome Python