In [1]:
!pip install cx_oracle

Requirement already satisfied: cx_oracle in c:\users\agkr\anaconda3\lib\site-packages (7.1.3)

In [3]:
import cx_Oracle

Step1: create connection
2: create cursor using the connection
3: Execute query using cursor
4: get the data from the cursor
5: process the data
6: close cursor
7: close connection

# open oracle command line and write below queries
SQL>conn system/Oracle1234@XE
SQL>create user pyuser identified by python1234;
SQL>grant connect,resource,unlimited tablespace to pyuser
SQL>conn pyuser/python1234@XE

In [5]:
conn = cx_Oracle.connect("pyuser/python1234@XE")
print(type(conn))
cur = conn.cursor()
print(type(cur))
cur.execute('select * from dept')
for i in cur:
    print(i)
print(type(i))
cur.close()
conn.close()

<class 'cx_Oracle.Connection'>
<class 'cx_Oracle.Cursor'>
(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')
<class 'tuple'>

In [6]:
# fetchall
conn = cx_Oracle.connect("pyuser/python1234@XE")
cur = conn.cursor()
cur.execute('select * from dept')
i = cur.fetchall()
print(i)
cur.close()
conn.close()

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON')]

In [7]:
# fetchmany
conn = cx_Oracle.connect("pyuser/python1234@XE")
cur = conn.cursor()
cur.execute('select * from dept')
i = cur.fetchmany(3)
print(i)
cur.close()
conn.close()

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO')]

In [8]:
# fetchone
conn = cx_Oracle.connect("pyuser/python1234@XE")
cur = conn.cursor()
cur.execute('select * from dept')
i = cur.fetchone()
print(i)
print(cur.fetchone())
cur.close()
conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')

# Create table insql command line
create table student(sid number(4), sname varchar2(20), course varchar2(20), fee number(7,2))

In [14]:
conn = cx_Oracle.connect("pyuser/python1234@XE")
print(type(conn))
cur = conn.cursor()
print(type(cur))
cur.execute('select * from student')
for i in cur:
    print(i)
print(type(i))
cur.close()
conn.close()

<class 'cx_Oracle.Connection'>
<class 'cx_Oracle.Cursor'>
(102, 'ramesh2', 'java', 5000.0)
(102, 'ramesh2', 'java', 5000.0)
(102, 'ramesh2', 'java', 5000.0)
(103, 'ramesh3', 'python', 8000.0)
<class 'tuple'>

In [11]:
# execute - insert a record
conn = cx_Oracle.connect("pyuser/python1234@XE")
cur = conn.cursor()
cur.execute("insert into student values(102,'ramesh2','java',5000)")
conn.commit()
cur.close()
conn.close()

In [13]:
# executemany - insert multiple records
conn = cx_Oracle.connect("pyuser/python1234@XE")
cur = conn.cursor()
student_info = [(102,'ramesh2','java',5000),(103,'ramesh3','python',8000)]
cur.executemany("insert into student(sid,sname,course,fee) values(:1,:2,:3,:4)", student_info)
conn.commit()
cur.close()
conn.close()