In [ ]:
# to get cx_oracle 
# pip install cx_oracle in cmd prompt

!pip install cx_oracle

# open oracle command line and write below queries
SQL>conn system/Oracle1234@XE
SQL>create user pyuser identified by python1234;
SQL>grant connect,resource,unlimited tablespace to pyuser
SQL>conn pyuser/python1234@XE

In [2]:
import cx_Oracle

In [3]:
#example1
conn=cx_Oracle.connect('pyuser/python1234@orcl')
cur=conn.cursor()
cur.execute('select * from dept')
for i in cur:
    print(i)
cur.close()
conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [4]:
#example2
conn=cx_Oracle.connect('pyuser/python1234@orcl')
cur=conn.cursor()
deptdata=cur.execute('select * from dept')
for i in deptdata:
    print(i)
cur.close()
conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [5]:
#example3
conn=cx_Oracle.connect('pyuser/python1234@orcl')
cur=conn.cursor()
deptdata=cur.execute('select * from dept')
print(deptdata)
cur.close()
conn.close()

<cx_Oracle.Cursor on <cx_Oracle.Connection to pyuser@orcl>>

In [6]:
#example4
conn=cx_Oracle.connect('pyuser/python1234@orcl')
cur=conn.cursor()
cur.execute('select * from dept')
deptdata=cur.fetchall()
print(deptdata)
cur.close()
conn.close()

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON')]

In [7]:
print(deptdata)
print(type(deptdata))

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON')]
<class 'list'>

In [8]:
conn=cx_Oracle.connect('pyuser/python1234@orcl')
cur=conn.cursor()
deptdata=cur.execute('select * from dept')
print(deptdata.fetchone())
print(deptdata.fetchone())
print(deptdata.fetchone())
cur.close()
conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')

In [ ]:
#Working with Oracle Procedure
#step1 : create a procedure in oracle
#step2 : testing oracle procedure in oracle
#step3 : calling oracle procedure from python

In [ ]:
#step1 : create a procedure in oracle(you have to do in oracle)
"""
create or replace procedure grossal
(
i_empno number,
gr_sal out number
)
as
v_sal number(7,2);
v_comm number(7,2);
begin
select sal,comm into v_sal,v_comm from emp where empno=i_empno;
gr_sal:=v_sal+nvl(v_comm,0);
end;
/
"""

In [ ]:
#step2 : testing oracle procedure in oracle(you have to do in oracle only)
# set serveroutput on
"""
declare
gross_salary number(7,2);
begin
grossal(7499,gross_salary);
dbms_output.put_line(gross_salary);
end;
/
"""

In [9]:
#step3 : calling oracle procedure from python
con = cx_Oracle.connect('pyuser/python1234@orcl')
cur = con.cursor()
grosssalary=cur.var(cx_Oracle.NUMBER)
cur.callproc('grossal',(7499,grosssalary))
print(grosssalary.getvalue())
cur.close()
con.close()

1900.0

In [ ]:
#Working with Oracle Function
#step1 : create a Function in oracle
#step2 : testing oracle Function in oracle
#step3 : calling oracle Function from python

step1 : create a Function in oracle
create or replace function empexp
(
iempno in number
) 
return number
as
exp number;
begin
select round((sysdate-hiredate)/365) into exp from emp where empno=iempno;
return exp;
end;
/

#step2 : testing oracle Function in oracle
select empexp(7499) from dual;

In [10]:
#step3 : calling oracle Function from python
conn = cx_Oracle.connect('pyuser/python1234@orcl')
cur = conn.cursor()
empno=input("Enter employee Number::")
exp = cur.callfunc('empexp', cx_Oracle.NUMBER, (empno,))
print (exp)
cur.close()
conn.close()

Enter employee Number::7844
38.0

#creating table in oracle database
create table student(sid number(4),sname varchar2(15),course varchar2(15),fee number(7,2));

In [ ]:
#inserting single record
conn = cx_Oracle.connect('pyuser/python1234@orcl')
cur = conn.cursor()
cur.execute("insert into student values(101,'raju','python',8000)")
conn.commit()
cur.close()
conn.close()

In [ ]:
#inserting multiple records from list to database table
conn = cx_Oracle.connect('pyuser/python1234@orcl')
rows = [ (102,'raju','python',8000),(103,'ramesh','python',6500),(104,'jai','java',3500),(105,'ram','angular',5500)]
cur=conn.cursor()
cur.executemany("insert into student(sid,sname,course,fee) values (:sid,:sname,:course,:fee)",rows)
conn.commit()
print("Transaction completed successfully")
cur.close()
conn.close()